{% extends 'templating.html' %}
{% load static%}
{% block content %}
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">
    {% if Sliders %}
        {% for slider in Sliders %}
        <div class="single-welcome-slide">
            <div class="background-curve">        
            </div>
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">

                        <div class="col-12 col-md-6">
                            <div class="welcome-text">
                                <h2 data-animation="fadeInUp" data-delay="100ms">{{Slider.title}}</h2>
                                <h5 data-animation="fadeInUp" data-delay="400ms">We love to create "cool" things on
                                    Digital Platforms</h5>
                                <a href="#" class="btn uza-btn btn-2" data-animation="fadeInUp"
                                    data-delay="700ms">Start Exploring</a>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="welcome-thumbnail">
                                <img src="{% static 'img/slider1.webp' %}" alt="" data-animation="slideInRight" data-delay="400ms">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    </div>
</section>


<section class="uza-about-us-area">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-12 col-md-6">
                <div class="about-us-thumbnail mb-80">
                    <img src="{% static 'img/bg-img/2.jpg' %}" alt="">

                    <div class="uza-video-area hi-icon-effect-8">
                        <a href="https://www.youtube.com/watch?v=sSakBz_eYzQ" class="hi-icon video-play-btn"><i
                                class="fa fa-play" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="about-us-content mb-80">
                    <h2>About  &amp; Cocoaville</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut
                        labore et dolore magna.</p>
                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata
                        sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam
                        nonumy eirmod tempor invidunt labore et dolore magna
                        liquyam erat.</p>
                    <a href="#" class="btn uza-btn btn-2 mt-4">Start Exploring</a>
                </div>
            </div>
        </div>
    </div>

    <div class="about-bg-pattern">
        <img src="{% static 'img/core-img/curve-2.png' %}" alt="">
    </div>
</section>

<section class="uza-portfolio-area section-padding-80">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Our Products</h2>
                    <p>We stay on top of our industry by being experts in yours.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">

            <div class="portfolio-sildes owl-carousel">

                <div class="single-portfolio-slide">
                    <img src="{% static 'img/bg-img/3.jpg' %}" alt="">

                    <div class="overlay-effect">
                        <h4>Digital Marketing</h4>
                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata
                            sanctus est</p>
                    </div>

                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>

                <div class="single-portfolio-slide">
                    <img src="{% static 'img/bg-img/4.jpg' %}" alt="">

                    <div class="overlay-effect">
                        <h4>Digital Marketing</h4>
                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata
                            sanctus est</p>
                    </div>

                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>

                <div class="single-portfolio-slide">
                    <img src="{% static 'img/bg-img/5.jpg' %}" alt="">

                    <div class="overlay-effect">
                        <h4>Digital Marketing</h4>
                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata
                            sanctus est</p>
                    </div>

                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>

                <div class="single-portfolio-slide">
                    <img src="{% static 'img/bg-img/6.jpg' %}" alt="">

                    <div class="overlay-effect">
                        <h4>Digital Marketing</h4>
                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata
                            sanctus est</p>
                    </div>

                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>

                <div class="single-portfolio-slide">
                    <img src="{% static 'img/bg-img/5.jpg' %}" alt="">

                    <div class="overlay-effect">
                        <h4>Digital Marketing</h4>
                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata
                            sanctus est</p>
                    </div>

                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>

                <div class="single-portfolio-slide">
                    <img src="{% static 'img/bg-img/6.jpg' %}" alt="">

                    <div class="overlay-effect">
                        <h4>Digital Marketing</h4>
                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata
                            sanctus est</p>
                    </div>

                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clients-feedback-area mt-80 section-padding-80 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="testimonial-slides owl-carousel">

                        <div class="single-testimonial-slide d-flex align-items-center">

                            <div class="testimonial-thumbnail">
                                <img src="{% static 'img/bg-img/7.jpg' %}" alt="">
                            </div>

                            <div class="testimonial-content">
                                <h4>“Colorlib Ltd’s ranking has gone up so much from the great work that your team
                                    has done and our brand get organic sales consistently from your efforts. We are
                                    happy that the results of your efforts were lasting and profitable.”</h4>

                                <div class="ratings">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                </div>

                                <div class="author-info">
                                    <h5>Darrell Goodman <span>- CEO colorlib</span></h5>
                                </div>

                                <div class="quote-icon"><img src="{% static 'img/core-img/quote.png' %}" alt=""></div>
                            </div>
                        </div>

                        <div class="single-testimonial-slide d-flex align-items-center">

                            <div class="testimonial-thumbnail">
                                <img src="{% static 'img/bg-img/23.jpg' %}" alt="">
                            </div>

                            <div class="testimonial-content">
                                <h4>“Colorlib Ltd’s ranking has gone up so much from the great work that your team
                                    has done and our brand get organic sales consistently from your efforts. We are
                                    happy that the results of your efforts were lasting and profitable.”</h4>

                                <div class="ratings">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                </div>

                                <div class="author-info">
                                    <h5>Darrell Goodman <span>- CEO colorlib</span></h5>
                                </div>

                                <div class="quote-icon"><img src="{% static 'img/core-img/quote.png' %}" alt=""></div>
                            </div>
                        </div>

                        <div class="single-testimonial-slide d-flex align-items-center">

                            <div class="testimonial-thumbnail">
                                <img src="{% static 'img/bg-img/24.jpg' %}" alt="">
                            </div>

                            <div class="testimonial-content">
                                <h4>“Colorlib Ltd’s ranking has gone up so much from the great work that your team
                                    has done and our brand get organic sales consistently from your efforts. We are
                                    happy that the results of your efforts were lasting and profitable.”</h4>

                                <div class="ratings">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                </div>

                                <div class="author-info">
                                    <h5>Darrell Goodman <span>- CEO colorlib</span></h5>
                                </div>

                                <div class="quote-icon"><img src="{% static 'img/core-img/quote.png' %}" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="border-line"></div>
    </div>

    <div class="portfolio-bg-curve">
        <img src="{% static 'img/core-img/curve-3.png' %}" alt="">
    </div>
</section>


<section class="uza-newsletter-area">
    <div class="container">
        <div class="row align-items-center justify-content-between">

            <div class="col-12 col-md-6 col-lg-6">
                <div class="nl-content mb-80">
                    <h2>Subscribe to our Newsletter</h2>
                    <p>Subscribe our newsletter gor get notification about new updates, etc...</p>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-5">
                <div class="nl-form mb-80">
                    <form action="#" method="post">
                        <input type="email" name="nl-email" value="" placeholder="Your Email">
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="border-line"></div>
    </div>
</section>
{% endblock %}