{% extends 'templating.html' %}
{% load static%}
{% block content %}
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">
    {% if Sliders %}
        {% for slider in Sliders %}
        <div class="single-welcome-slide">
            <div class="background-curve">        
            </div>
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">

                        <div class="col-12 col-md-6">
                            <div class="welcome-text">
                                <h2 data-animation="fadeInUp" data-delay="100ms">{{Slider.title}}</h2>
                                <h5 data-animation="fadeInUp" data-delay="400ms">“All you need is love. 
                                But a little chocolate now and then doesn't hurt.”</h5>
                                <a href="#" class="btn uza-btn btn-2" data-animation="fadeInUp"
                                    data-delay="700ms">Start Exploring</a>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="welcome-thumbnail">
                                <img src="{% static 'img/slider1.webp' %}" alt="" data-animation="slideInRight" data-delay="400ms">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    </div>
</section>


<section class="uza-about-us-area">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-12 col-md-6">
                <div class="about-us-thumbnail mb-80">
                    <img src="{% static 'img/bg-img/2.jpg' %}" alt="">

                    <div class="uza-video-area hi-icon-effect-8">
                        <a href="https://www.youtube.com/watch?v=sSakBz_eYzQ" class="hi-icon video-play-btn"><i
                                class="fa fa-play" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="about-us-content mb-80">
                    <h2>About  &amp; Cocoaville</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut
                        labore et dolore magna.</p>
                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata
                        sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam
                        nonumy eirmod tempor invidunt labore et dolore magna
                        liquyam erat.</p>
                    <a href="#" class="btn uza-btn btn-2 mt-4">Start Exploring</a>
                </div>
            </div>
        </div>
    </div>

    <div class="about-bg-pattern">
        <img src="{% static 'img/core-img/curve-2.png' %}" alt="">
    </div>
</section>

<section class="uza-portfolio-area section-padding-80">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Our Products</h2>
                    <p>"Making chocolate is truly fun but it’s a serious business too!"</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">

            <div class="portfolio-sildes owl-carousel">

                <div class="single-portfolio-slide">
                    <img src="{% static 'img/bg-img/25.jpg' %}" alt="">

                    <div class="overlay-effect">
                        <h4>Fermenting and Drying</h4>
                        <p>The wet beans are then transported to a facility so they can be fermented and dried.[19][22] The farmer removes the 
                        beans from the pods, packs them into boxes or heaps them into piles, then covers them with mats or banana leaves for three to seven 
                        days.</p>
                    </div>

                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>

                <div class="single-portfolio-slide">
                    <img src="{% static 'img/bg-img/26.jpg' %}" alt="">

                    <div class="overlay-effect">
                        <h4>Cultivation of Cocoa Fruit</h4>
                        <p>A cocoa pod (fruit) is about 7 to 8 inches long and has a rough, leathery rind about 2 to 3 cm thick filled with 
                        sweet, mucilaginous pulp with a lemonade-like taste enclosing 30 to 50 large seeds that are fairly soft and a pale 
                        lavender to dark brownish purple color.</p>
                    </div>

                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>

                <div class="single-portfolio-slide">
                    <img src="{% static 'img/bg-img/27.jpg' %}" alt="">

                    <div class="overlay-effect">
                        <h4>Collecting Cocoa Pulp</h4>
                        <p>During harvest, the pods are opened, the seeds are kept, and the empty pods are discarded and the pulp made into 
                        juice. The seeds are placed where they can ferment.</p>
                    </div>

                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>

                 <div class="single-portfolio-slide">
                    <img src="{% static 'img/bg-img/30.jpg' %}" alt="">

                    <div class="overlay-effect">
                        <h4>Molded Chocolate Candies</h4>
                        <p>Molded chocolates make a nice dessert as well as a great gift for holidays, birthdays, and other special occasions. 
                        Whether you want to use high-quality or standard chocolate.</p>
                    </div>

                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>


                 <div class="single-portfolio-slide">
                    <img src="{% static 'img/bg-img/32.jpg' %}" alt="">

                    <div class="overlay-effect">
                        <h4>Molded Chocolate Candies</h4>
                        <p>Molded chocolates make a nice dessert as well as a great gift for holidays, birthdays, and other special occasions. 
                        Whether you want to use high-quality or standard chocolate.</p>
                    </div>

                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>


                 <div class="single-portfolio-slide">
                    <img src="{% static 'img/bg-img/35.jpg' %}" alt="">

                    <div class="overlay-effect">
                        <h4>Molded Chocolate Candies</h4>
                        <p>Molded chocolates make a nice dessert as well as a great gift for holidays, birthdays, and other special occasions. 
                        Whether you want to use high-quality or standard chocolate.</p>
                    </div>

                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>


                <div class="single-portfolio-slide">
                    <img src="{% static 'img/bg-img/28.jpg' %}" alt="">

                    <div class="overlay-effect">
                        <h4>Fermenting and Drying</h4>
                        <p>The wet beans are then transported to a facility so they can be fermented and dried.[19][22] The farmer removes the 
                        beans from the pods, packs them into boxes or heaps them into piles, then covers them with mats or banana leaves for three to 
                        seven days.</p>
                    </div>

                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>

                <div class="single-portfolio-slide">
                    <img src="{% static 'img/bg-img/33.jpg' %}" alt="">

                    <div class="overlay-effect">
                        <h4>Different Chocolates</h4>
                        <p>Milk chocolate is a classic that we all know and love from childhood. With its light brown color, creamy texture, 
                        and sweet flavor.White chocolate is easy to identify because of its cream or ivory color. It is made by combining 
                        sugar, cocoa butter, milk, vanilla, and lecithin. Dark chocolate, with its notable deep brown color, is the second most 
                        popular type of chocolate.</p>
                    </div>

                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>

                <div class="single-portfolio-slide">
                    <img src="{% static 'img/bg-img/34.jpg' %}" alt="">

                    <div class="overlay-effect">
                        <h4>Chocolate</h4>
                        <p>Chocolate coated choco-bars described as a "caramel and nougat" mix covered with "smooth milk chocolate" </p>
                    </div>

                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clients-feedback-area mt-80 section-padding-80 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="testimonial-slides owl-carousel">

                        <div class="single-testimonial-slide d-flex align-items-center">

                            <div class="testimonial-thumbnail">
                                <img src="{% static 'img/bg-img/37.jpg' %}" alt="">
                            </div>

                            <div class="testimonial-content">
                                <h4>“Beverley Dunkley has been sharing her passion for chocolate at the Chocolate Academy™ UK since its beginning 
                                10 years ago, and she has contributed extensively to developing a full range of innovative courses in the 
                                confectionery, bakery, hotel and restaurant sectors. Her love for teaching goes beyond physical classes, and she 
                                regularly designs courses on the craft of chocolate for Callebaut and other media outlets such as Staff Canteen. 
                                She has also been featured in textbooks such as “Patisserie” by John Hanneman, and in professional magazines like 
                                Chef, and Squires’ SugarCraft.”</h4>

                                <div class="ratings">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                </div>

                                <div class="author-info">
                                    <h5>Beverley Dunkley <span>- Director, Chocolate Academy UK</span></h5>
                                </div>

                                <div class="quote-icon"><img src="{% static 'img/core-img/quote.png' %}" alt=""></div>
                            </div>
                        </div>

                        <div class="single-testimonial-slide d-flex align-items-center">

                            <div class="testimonial-thumbnail">
                                <img src="{% static 'img/bg-img/38.jpg' %}" alt="">
                            </div>

                            <div class="testimonial-content">
                                <h4>“Nico, as we like to call him, comes from one of the most renowned schools for craftsmanship in France, 
                                Les Compagnons du Devoir, where he learned the qualities embodied by the best pastry chefs: precision skills, 
                                hard work, respect and knowledge sharing. He honed his craft with Meilleurs Ouvriers de France at the école 
                                Nationale Supérieure de la Pâtisserie Française. After five years at the famous Parisian palace, Le Plaza 
                                Athénée, Nicolas decided to move abroad and settle in Montreal. He became known in his adopted city as the 
                                master macaron maker, often being asked to judge macaron competitions and helping his peers in perfecting the 
                                art of macarons, even developing delicious vegan recipes.”</h4>

                                <div class="ratings">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                </div>

                                <div class="author-info">
                                    <h5>Nicolas Dutertre <span>- Chocolate Academy Chef, Montreal Canada</span></h5>
                                </div>

                                <div class="quote-icon"><img src="{% static 'img/core-img/quote.png' %}" alt=""></div>
                            </div>
                        </div>

                        <div class="single-testimonial-slide d-flex align-items-center">

                            <div class="testimonial-thumbnail">
                                <img src="{% static 'img/bg-img/39.jpg' %}" alt="">
                            </div>

                            <div class="testimonial-content">
                                <h4>“Learn to taste, and be obsessed with it. I am the first to admit that my first thoughts are visual, and 
                                I spend a lot of time thinking about how to make products visually pleasing, but ultimately the success of a 
                                product lies in the taste.” As the lead chef for the Chocolate Academy™ Online, Chef Russ Thayer curates the 
                                curriculum and leads the team of chefs who contribute to its content. He specializes in modern confections 
                                based on traditional techniques, while also having a robust knowledge of pastry as a whole. Prior to this he 
                                worked as a Pastry Chef for the Ritz-Carlton hotel group, and also held Pastry Chef positions in several 
                                prestigious private clubs. Russ is a graduate of both the Pastry Arts and the Culinary Arts programs at 
                                Central Piedmont Community College in Charlotte, North Carolina.”</h4>

                                <div class="ratings">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                </div>

                                <div class="author-info">
                                    <h5>Russ Thayer <span>- Lead Chef, Chocolate Academy Online</span></h5>
                                </div>

                                <div class="quote-icon"><img src="{% static 'img/core-img/quote.png' %}" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="border-line"></div>
    </div>

    <div class="portfolio-bg-curve">
        <img src="{% static 'img/core-img/curve-3.png' %}" alt="">
    </div>
</section>


<section class="uza-newsletter-area">
    <div class="container">
        <div class="row align-items-center justify-content-between">

            <div class="col-12 col-md-6 col-lg-6">
                <div class="nl-content mb-80">
                    <h2>Subscribe to our Newsletter</h2>
                    <p>Subscribe our newsletter gor get notification about new updates, etc...</p>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-5">
                <div class="nl-form mb-80">
                    <form action="#" method="post">
                        <input type="email" name="nl-email" value="" placeholder="Your Email">
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="border-line"></div>
    </div>
</section>
{% endblock %}